# Eclipse IDE files and folders
**/.class
**/.classpath
**/.project
**/.settings/
# Maven target directory
**/target/
# VS Code settings
.vscode/
# Mac system files
.DS_Store
# Windows system files
Thumbs.db
.jar
.war
.hprof
.hprof.*